html {
  margin: 2em 2.7em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  text-decoration: none;
}

header a:hover,
header a:active {
  text-decoration: underline;
}



input[type=text] {
  padding: 1em;
  margin: 1em;
  text-align: left;
  background-color: transparent;
  color: black;
  border-radius: 10px;
  border: 1px solid black;
}

.hh {
  line-height: 1.4;
}

.center {
  width: 50%;
  position: relative;
  left: 25%;
  text-align: center;
}

.centro {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5em;
}


.question {
  width: 50%;
  position: relative;
  left: 25%;
  text-align: center;
  margin-top: 5em;

}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2em;

}