* {
  background-color: var(--green) !important;
}

.Container {
  width: 100%;
}

.topbar{
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.click {
  cursor: pointer;
}
  
.username{
  display: inline;
  vertical-align: middle;
}

.column {
  float: left;
  width: 50%;
}

.row{
  margin: 0 15%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.btn{
  border: 2px solid black;
  background-color: #CAD0B1;
  color: black;
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 10px;
  border-color: black;
  color: black;
  float: left;
  width: 150px;
}

.success:hover {
  background-color: #B2BB8A;
  background-color: black !important;
  color: var(--green) !important;
  width: 150px;
}

.answer {
  border: 2px solid black;
  background-color: #CAD0B1;
  color: black;
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 10px;
  border-color: black;
  color: black;
  margin: 0 auto;
  align-items: flex-start;
  margin-right: 10%;
  width: 416px;
}

.sep {
  margin-bottom: 21px;
}

.correct {
  background-color: #B2BB8A !important;
}

.explanation{
  margin-left: 101px;
  width: 462px;
}

.justification{
  border: 2px solid black !important;
  background-color: #CAD0B1;
  color: black;
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 10px !important;
  border-color: black !important;
  color: black;
  align-items: flex-start;
  width: 100% !important;
  height: 100px; 
}

.cent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.start {
  text-align: start;
  margin: 0 auto;
}

.centered {
  text-align: center;
}

.side {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
  
  .columns{
  
    text-align: center;
  }
  
  .leftcolumn{
    display: inline-block;
    vertical-align: middle;
    text-align: column;
  }
  .middlecolumn{
    display: inline-block;
    vertical-align: middle;
    text-align: column;
  }
  
  .rightcolumn{
    display: inline-block;
    vertical-align: middle;
    text-align: column;
  }
  
  .logo{
    display: inline;
    vertical-align: middle;
    margin-right: 70%;
  }
  
  .username{
    display: inline;
    vertical-align: middle;
  }
  
  .column {
    float: left;
    width: 50%;
  }
  .row{
    margin: 0 15%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .btn{
    border: 2px solid black;
    background-color: #CAD0B1;
    color: black;
    padding: 10px 10px;
    font-size: 16px;
    border-radius: 10px;
    border-color: black;
    color: black;
    float: left;
    width: 150px;
  }


  .success:hover {
    background-color: #B2BB8A;
    
  }

  .answer {
    border: 2px solid black;
    background-color: #CAD0B1;
    color: black;
    padding: 10px 10px;
    font-size: 16px;
    border-radius: 10px;
    border-color: black;
    color: black;
    margin: 0 auto;
    margin-bottom: 15px;
    align-items: flex-start;
    margin-right: 10%;
  }

  .correct {
    background-color: #B2BB8A;
  }

  .explanation{
    margin-left: 10%;
  }

  .justification{
    border: 2px solid black !important;
    background-color: #CAD0B1;
    color: black;
    padding: 10px 10px;
    font-size: 16px;
    border-radius: 10px !important;
    border-color: black !important;
    color: black;
    align-items: flex-start;
    width: 100% !important;
    height: 100px;
    
  }

  .start {
    text-align: start;
    margin: 0 auto;
  }

  .centered {
    text-align: center;
  }
