.ReviewQuizPage-Container .button_tab {
    padding: 10px 10px;
    border-spacing: 0px;
    width: 100%;
}

.ReviewQuizPage-Container .button_tab_hover:hover {
    width: 100%;
    position: relative;
    background-color: black !important;
    color: var(--green)  !important;
}

.ReviewQuizPage-Container table {
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    margin-top: 2rem;
    table-layout: auto;
    text-align: center;  
}


.ReviewQuizPage-Container thead tr {
    display : flex;
    justify-content: space-evenly;
}

thead {
    width: 68%;
}

.ReviewQuizPage-Container .select:hover td {
    background-color: black !important;
    color: var(--green)  !important;
}

.ReviewQuizPage-Container .start {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
  
.ReviewQuizPage-Container .click {
    cursor: pointer;
}

.ReviewQuizPage-Container .center {
    text-align: center;
}

.ReviewQuizPage-Container .center_tab {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.ReviewQuizPage-Container .pad {
    padding-inline-start: 0px !important;
}

.ReviewQuizPage-Container .button1 {
    border-radius: 12px 12px 0px 0px;
    border-bottom: 0px;
}

.ReviewQuizPage-Container .other_buttons {
    border-radius: 0px 0px 0px 0px;
    border-bottom: 0px;
}

.ReviewQuizPage-Container .button_end {
    border-radius: 0px 0px 12px 12px;
}

.ReviewQuizPage-Container .button_uniq {
    border-radius: 12px 12px 12px 12px; 
}
