#auth {
  text-align: center;
  display: flex;
  width: 70%;
  margin: 3rem auto;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: 10%;
}

#auth h1 {
  margin-bottom: 2rem;
}

#auth div form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#auth input {
  text-align: center;
  margin: 0.2rem 0;
}

#auth input[type=submit] {
  margin-top: 1rem;
}