.App {
  text-align: center;
  background-color:#D2DDDF;
  font-family: "BasicRegular";
}

img{
  width: 10%;
}

.logo{
  display: inline;
  vertical-align: middle;
  margin-right: 70%;
}

.username{
  display: inline;
  vertical-align: middle;
}

.topbar{
  text-align: center; 
  margin-top: 20px;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

:root {
  /* layout colors */
  --beige: #EFE7E4;
  --pink: #DCA9BB;
  --green: #CAD0B1;
  --blue: #D2DDDF;
  --yellow: #F3D59E;

  font-size: 18px; /* 1rem is now 18px */
}

* {
  background-color: var(--blue);
  font-family: 'Basic', sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

html {
  margin: 2em 2.7em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a { text-decoration: none; }
header a:hover, header a:active { text-decoration: underline; }

button[type=button] {
  background-color: transparent;
  color: black;
  border-radius: 10px;
  border: 1px solid black;
  padding: 0.3em 0.8em;
}

button:hover[type=button]:hover {
  background-color: black;
  color: var(--blue);
  cursor: pointer;
}

input[type=text] {
  padding: 0.5em;
  text-align: left;
  background-color: transparent;
  color: black;
  border-radius: 10px;
  border: 1px solid black;
  width: 13.5em;
  height: 2em;
}

textarea[type=text] {
  padding: 0.5em;
  text-align: left;
  background-color: transparent;
  color: black;
  border-radius: 10px;
  border: 1px solid black;
  width: 15.5em;
  height: 4em;
  resize: none;
  overflow:hidden;
}

.select {
  padding: 0.5em;
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 10px;
  border: 1px solid black;
  width: 17em;
  height: 5em;
  overflow-y: auto;
  scrollbar-width: none;
}

.popup{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  background-color: var(--blue);
  display:flex;
  justify-content: center;
  align-items: center;
}

.popup-inner{
  border-radius: 10px;
  border: 2px solid black;
  position: relative;
  padding: 32px;
  width:100%;
  max-width: 640px;
  background-color: var(--blue);
}

.popup-inner.close-btn{
  position: absolute;
  top: 16px;
  right:16px;
}

.warning{
  text-align: center;
  width: 39em;
  height: 4em;
  resize: none;
  overflow:hidden;
  font-size: 11px; /* 1rem is now 18px */
}

.esq{
  font-size: 20px;
  text-align: left
}

.geral{
  font-size: 20px
}

.titleText{
  font-size: 28px;
  font-weight: bold
}