:root {
  /* layout colors */
  --beige: #EFE7E4;
  --pink: #DCA9BB;
  --green: #CAD0B1;
  --blue: #D2DDDF;
  --yellow: #F3D59E;

  font-size: 16px; /* 1rem is now 18px */
}

* {
  background-color: var(--beige);
  font-family: 'Basic', sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

html {
  margin: 1em 1.7em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none; 
  font-size: 1rem;
}

a:hover, a.active { text-decoration: underline; }

h1 {
  text-align: center;
}

button, select, input[type=button] {
  background-color: transparent;
  color: black;
  border-radius: 10px;
  border: 1px solid black;
  padding: 0.3em 0.8em;
}

button:hover, input[type=button]:hover {
  background-color: black;
  color: var(--beige);
  cursor: pointer;
}

input[type=text], input[type=search] {
  padding: 0.3em 0.8em;
  margin: 1em 1em 1em 0.5em;
  text-align: left;
  background-color: transparent;
  color: black;
  border-radius: 10px;
  border: 1px solid black;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  font-size: 0.9rem;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
  font-size: 0.9rem;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
  font-size: 0.9rem;
}

.startmenu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  height: 80vh;
  width: 100%;
  margin-top: 2rem;
}

.startmenu a {
  background-color: transparent;
  color: black;
  border-radius: 10px;
  border: 1px solid black;
  line-height: 35vh;
  flex-basis: 49%;
  margin: 0;
}

.startmenu a:first-child { background-color: var(--blue); }
.startmenu a:nth-child(2) { background-color: var(--yellow); }
.startmenu a:nth-child(3) { background-color: var(--green); }
.startmenu a:nth-child(4) { background-color: var(--pink); }
.startmenu a:nth-child(5) {
  background-color: var(--beige);
  position: absolute;
  top: 40vh;
  display: block;
  padding: 2rem 0;
  width: 15rem;
  line-height: 3rem;
}

.startmenu h1 {
  background-color: transparent;
}