:root {
  /* layout colors */
  --beige: #efe7e4;
  --pink: #dca9bb;
  --green: #cad0b1;
  --blue: #d2dddf;
  --yellow: #f3d59e;

  font-size: 18px; /* 1rem is now 18px */
}

* {
  background-color: var(--beige);
  font-family: "Basic", sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

html {
  margin: 2em 2.7em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  text-decoration: none;
}
header a:hover,
header a:active {
  text-decoration: underline;
}

button,
select,
input[type="button"] {
  background-color: transparent;
  color: black;
  border-radius: 10px;
  border: 1px solid black;
  padding: 0.3em 0.8em;
}

button:hover, input[type=button]:hover {
  background-color: black;
  color: var(--beige);
  cursor: pointer;
}

input[type=text] {
  padding: 1em;
  margin: 1em;
  text-align: left;
  background-color: transparent;
  color: black;
  border-radius: 10px;
  border: 1px solid black;
}

textarea[type=text] {
  padding: 0.5em;
  text-align: left;
  background-color: transparent;
  color: black;
  border-radius: 10px;
  border: 1px solid black;
  width: 13.5em;
  height: 4em;
  resize: none;
  overflow:hidden;
}
