* {
  background-color: var(--pink) !important;
}

.req-2-1-logo {
  width: 11.5em;
  height: 3.6em;
  display: flex;
  justify-content: center;
}
.req-2-1-title {
  text-transform: uppercase;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.req-2-1-subTitle {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputNumber {
  justify-content: center;
}

.formControl {
  height: 1em;
  width: 1.5em;
  text-align: center !important;
}

.req-2-1-buttonCreate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
}

.inputNumberTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6em;
}

/* Page 2 Elements*/

.req-2-1-inputDiv {
  display: grid;
  justify-content: center;
  align-items: center;
}

.req-2-1-inputTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.req-2-1-inputText {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0.5em;
  width: 8em;
}

.req-2-2-inputText {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0.5em;
}

.req-2-1-quizList {
  margin-top: 2em;
  justify-content: center;
  align-items: center;
}

.quiz {
  display: flex;
  padding: 1em;
  margin: 1em;
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 10px;
  border: 1px solid black;
}

.req-2-1-buttonPublish {
  display: flex;
  justify-content: center;
  align-items: center;
}

.req-2-1-Publish-GoBack-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.req-2-1-GoBackbutton {
  margin: 0.5em;
}

.req-2-1-NextButton {
  margin: 0.5em;
}
